<div class="w-full md:max-w-5xl mx-auto bg-gradient-to-r from-indigo-900 to-indigo-400 bg-clip-text text-transparent p-10">
    <header class="flex flex-col items-center space-y-6 my-20">
        <div class="flex flex-col items-center">
            <label for="app_name" class="text-6xl font-bold">Users App</label>
            <small class="font-bold">Maids.cc</small>
        </div>
        <span class="p-input-icon-left w-full">
            <i class="pi pi-search"></i>
            <input type="text" class=" w-full" pInputText [(ngModel)]="seachValue " />
        </span>
    </header>
    <app-users-table/>
</div>