<div class="w-full md:max-w-4xl mx-auto bg-gradient-to-r from-indigo-900 to-indigo-400 bg-clip-text text-transparent p-10">
    <header class="flex flex-col items-center space-y-6 my-20">
        <div class="flex flex-col items-center">
            <label for="app_name" class="text-6xl font-bold" typingAnimation [duration]="0.5">Users App</label>
            <small class="font-bold" typingAnimation [duration]="0.5">Maids.cc</small>
        </div>
        <div class="w-full">
            <app-instant-search (onValidSearch)="onSearchChange($event)"/>
        </div>
    </header>
    <!-- using *isBrowser to render only in browser skip (hydration) error -->
    <app-users-table/>
</div>