<div class="flex flex-col space-y-5 justify-center bg-blue-600 w-full h-screen p-20">

    <div class="h-10 w-full text-white">
        <a [routerLink]="['/']">
            <div class="cursor-pointer">
                <i class="pi pi-arrow-left cursor-pointer" style="font-size: 2rem"></i>
                <label for="back" class="font-bold text-4xl mx-2 cursor-pointer">Back</label>
            </div>
        </a>
    </div>
    <div class="flex flex-col items-center bg-white p-20 rounded-xl shadow-2xl max-h-96">
        @if(isLoading) {
        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
        } @else {
        <p-avatar [image]="user?.avatar" styleClass="mr-2 w-44 h-44" size="xlarge" shape="circle"></p-avatar>
        }
        <div class="flex flex-col items-center space-y-2">
            <label for="user_first_name" class="block font-bold text-4xl">{{user?.first_name}}
                {{user?.last_name}}</label>
            <small class="block">{{user?.email}}</small>
        </div>
    </div>
</div>